/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    display: flex;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    justify-content: center;
}

/* Card styles */
#card-container {
    position: relative;
    height: 450px;
    perspective: 1000px;
    width: min(80vw, 300px); /* max genişlik 300px, mobilde %80 */

}

.card {
    aspect-ratio: 2 / 3;
    position: absolute;
    width: 100%;
    background: white;
    border-radius: min(5vw, 30px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    cursor: grab;
    transition: transform 0.3s ease;
    user-select: none;
}

.card-content {
    padding: 6%;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    position: relative;
}

.card-image {
    top: 0%;
    width: 100%;
    height: 42%;
    background-color: #333;
    border-radius: min(4vw, 21px);
    overflow: hidden;
}

.card-overlay {
    width: 100%;
    height: 45%;
}

.card-choices {
    position: absolute;
    bottom: 0%;
    left: 0%;
    display: flex;
    border-radius: 0 0 min(4vw, 21px) min(4vw, 21px);
    background: linear-gradient(to right, rgb(218, 0, 0) 50%, rgb(34, 206, 0) 50%);
    height: 10%;
    width: 100%;
    bottom: 0%;
}

.choice {
    font-size: clamp(16px, 5vw, 24px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 95%;
}


.name {
    font-size: clamp(7px, 7vw, 18px);
    color: #000000;
}

.text {
    font-size: clamp(3px, 3vw, 14px);
    color: #666;
}

/* Animation classes */
.swipe-left {
    transform: translateX(-150%) rotate(-30deg);
    opacity: 0;
}

.swipe-right {
    transform: translateX(150%) rotate(30deg);
    opacity: 0;
}

.image {
    width: 100%;
    object-fit: cover;
    display: block;
}